

/*-------GENERAL STYLES---------------------------------------*/

body{
    text-align: center;
}

table, th, td {
    border: 1px solid;
  }

/*-------ID STYLES---------------------------------------*/
 


/*The Table Header Row*/
#nameRow{
    background-color: darkgray;
}

#nameRow:hover{
    animation: headerColor 2s ease-in;
}


#welcomeEnvelope{
    border: 1px solid;
}
#contentEvelope{
    border: 1px solid;
}

/*-------CLASS STYLES---------------------------------------*/
.smallLine{
    width:24%;
    height:5px;
    float: left;
    display: table;
}


/*-------KEYFRAMES---------------------------------------*/

@keyframes headerColor{

    0%{ background-color: darkgray; }
    100%{ background-color: darkgreen; }
}